@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add1,
.add2,
.add3 {
  font-family: inherit;
  position: fixed;
  top: 1rem;
  right: 17rem;
  background-color: #74b9ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add2 {
  top: 1rem;
  right: 9rem;
  background-color: #ff7675;
}

.add3 {
  top: 1rem;
  right: 1rem;
  background-color: #00b894;
}

.note {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  position: relative;
}

.note-blue textarea {
  background-color: #74b9ff;
}

.note-red textarea {
  background-color: #ff7675;
}
.note-green textarea {
  background-color: #00b894;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
}

.hidden {
  display: none;
}

.edit {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.delete {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.note-blue .edit,
.note-blue .delete {
  color: #74b9ff;
}
.note-red .edit,
.note-red .delete {
  color: #ff7675;
}
.note-green .edit,
.note-green .delete {
  color: #00b894;
}
